<app-dashboard></app-dashboard>
  
  <main id="main" class="main">
    <div class="pagetitle">  
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
            <div class="card-body">
              <!-- Floating Labels Form -->
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Job Status</h5>
                  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Pending</button>
                    <button type="button" class="btn btn-warning">In Progress</button>
                    <button type="button" class="btn btn-success">Completed</button>
                  </div>
            
            
                </div>
              </div>
              
            </div>
        </div>  
          </div>
        </div>
            </div>
         
    </section>
  </main><!-- End #main -->