<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Request</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">



  <!-- Template Main CSS File -->
  <link href="./request.component.html" rel="stylesheet">


</head>

<body>
  <app-dashboard></app-dashboard>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="" alt="">
        <span class="d-none d-lg-block">Technical Services</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Requests Cards</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row align-items-top">
        <div class="col-lg-3">
          <!-- Card with an image on top -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Miss Ariel</h5>
              <p class="card-text">Morning <br>
                I require assistance with my office printer, which does not scan documents.</p>
                <p>Office No: 45 Bulding A</p>
              <p class="card-text"><a href="/feedback" class="btn btn-primary">Respond</a></p>
            </div>
          </div><!-- End Card with an image on top -->

          <!-- Card with an image on bottom -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Mr Phaidi</h5>
              <p class="card-text">Morning <br>I'm having an issue with my computer's ethernet port.</p>
              <p>Office No: 8 Bulding C</p>
              <p class="card-text"><a href="/feedback" class="btn btn-primary">Respond</a></p>
            </div>

          </div><!-- End Card with an image on bottom -->

        </div>

        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Miss Mpofu</h5>
              <p class="card-text">Morning <br>My office doorknob is broken.</p>
              <p>Office No: 25 Bulding B</p>
              <p class="card-text"><a href="feedback" class="btn btn-primary">Respond</a></p>

            </div>
          </div><!-- End Card with titles, buttons, and links -->
        </div>



      </div>
    </section>

  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
