
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <img src="../../../assets/img/log.png" height="5%" width="100%">
        </div>
        <div class="col-md-4 mt-3 mb-2">
            <h1 class="text-primary text-center"><b>Welcome To Technical Services</b></h1>

            <form action="" class="mt-5 p-5">
                <h4 class="text-primary mb-3">Login </h4>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username" >
                    <label for="floatingInput">Email address</label>
                </div>
                <br>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <br>
                           
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button">Login</button>
                  </div><br>

                  <h4>Don't you have an account ?</h4>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button">Conatct Admin</button>
                  </div><br>
            </form>

          
        </div>
    </div>
</div>


