<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <img src="../../../assets/img/registration-form.png" height="5%" width="100%">
        </div>
        <div class="col-md-4 mt-3 mb-2">
            <h1 class="text-primary text-center"><b>Registration</b></h1>

            <form action="" class="mt-5 p-5">
               <!--<h4 class="text-primary mb-3">Login </h4>--> 
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="" placeholder="Staff ID" name="Staff ID" >
                 
                </div>
                <br>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="First Names" name="First Names">
                    
                  </div>
                  <br>
                
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Surname" name="Surname">
                    
                  </div>
                  <br>
                  
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Email" name="Email">
                    
                  </div>
                  <br>
                  
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Role" name="Role">
                    
                  </div>
                  <br>
                  
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Reg Description" name="Reg Description">
                    
                  </div>
                  <br>
                  <div class="d-grid gap-4 col-6 mx-auto">
                    <button class="btn btn-primary" type="button">Register</button>
                  </div><br><br>
                  <div class="col-md-4 mt-3 mb-2">
                    <h1 class="text-primary text-center"><b></b></h1>
                  </div>
            </form>

            <div class="col-2 col-md-6">
              <img src="../../../assets/img/logo2.png"  alt="Reload images">
          </div>
        </div>
    </div>
</div>


