<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Staff</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./staffrequest.component.html" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="" alt="">
        <span class="d-none d-lg-block">Staff Dashboard</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

   

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/staff-request">
          <i class="bi bi-grid"></i>
          <span>Request</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="">
          <i class="bi bi-grid"></i>
          <span>Feedback</span>
        </a>
      </li><!-- End Registration Nav-->

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
       
        <li class="nav-item">
          <a class="nav-link collapsed" href="/login">
            <i class="bi bi-grid"></i>
            <span>Log Out</span>
          </a>
    </ul>
  
    </aside><!-- End Sidebar-->
    <!-- *************************************************************************** -->
    <main id="main" class="main">
      <div class="pagetitle">  
      </div><!-- End Page Title -->
      <section class="section">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Job Request</h5>
                <!-- Show errmsg -->
                <div *ngIf = "errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>{{errormsg}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
  
                <!-- Show successmsg ***********************************************************************-->
                <div *ngIf = "successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
                  <strong>{{successmsg}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
  
                <!-- General Form Elements -->
                <form [formGroup]="userForm"  (ngSubmit)="userSubmit()">
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Staff Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" formControlName="staff_name" id="validationCustom01" value=" Miss Ariel" required>
                    </div>
                  </div>
  
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Staff Number</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" formControlName="staff_number" id="validationCustom01" value=" Miss Ariel" required>
                    </div>
                  </div>
  
                  <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Office</label>
                    <div class="col-sm-10">
                     <input type="text" class="form-control" formControlName="venue" id="validationCustom01" value=" 45 Bulding A" required>
                    </div>
                  </div>
  
  
                  <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </div>
                  
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                      <select class="form-select" formControlName="category" aria-label="Default select example">
                      <option selected>Select</option>
                      <option value="1">Technical</option>
                      <option value="2">Infastructure</option>
                      <option value="3">Electrical</option>
                      </select>
                    </div>
                  </div>
  
                  <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">Request Date</label>
                    <div class="col-sm-10">
                      <input type="date" class="form-control" formControlName="createdAt">
                    </div>
                  </div>
  
                  <div class="row mb-" action="/upload" method="POST" enctype="multipart/form-data">
                    <label class="col-sm-2 col-form-label">Upload image</label>
                    <input type="file" name="image" />
                  </div>
  
                  <br><br>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form><!-- End General Form Elements -->
              </div>
            </div>
          </div>
        </div>   
      </section>
    </main><!-- End #main -->
              

    