
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Aritisan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./artfeedback.component.html" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="" alt="">
        <span class="d-none d-lg-block">Artisan Dashboard</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

   

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/technician">
          <i class="bi bi-grid"></i>
          <span>Requests</span>
        </a>
      </li><!-- End Dashboard Nav -->

    

      <li class="nav-item">
        <a class="nav-link collapsed" href="/status">
            
          <i class="bi bi-grid-fill"></i>
          <span>Job Status</span>
        </a>
      </li><!-- End Job Card Nav -->

      
      <li class="nav-item">
        <a class="nav-link collapsed" href="/artfeedback">  
          <i class="bi bi-grid-fill"></i>
          <span>Feedback</span>
        </a>
      </li><!-- End Job Card Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/artreport">
            
          <i class="bi bi-grid-fill"></i>
          <span>Report</span>
        </a>
      </li><!-- End Job Card Nav -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <li class="nav-item">
          <a class="nav-link collapsed" href="/login">
            <i class="bi bi-grid"></i>
            <span>Log Out</span>
          </a>
    </ul>
  </aside><!-- End Sidebar-->

<div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
				<h2>Technical Services</h2>
				<h4>Thank you for contacting us !</h4>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">Staff name:</label>
				  <div class="col-sm-10">
					<input type="text" class="form-control" id="fname" placeholder="Miss Ariel" name="fname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Office No:</label>
				  <div class="col-sm-10">
					<input type="text" class="form-control" id="lname" placeholder="45 Building A" name="lname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="" name="email">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment">Feedback:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5" id="comment"></textarea>
				  </div>
				</div>
				<div class="form-group">
				  <div class="col-sm-offset-2 col-sm-10">
					<p class="card-text"><a href="" class="btn btn-primary">Submit</a></p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
